<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Out of the Darkness and Into the Light</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/grayscale.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Out of the Darkness and into the Light</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Out of the Darkness and Into the Light</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">Resources and advice to get in a better mental state from someone who struggles with their mental health.</h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Learn more below!</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">About the Author</h2>
            <p class="text-white-50">My name is Aaron Allen, a current Senior at Del Valle High School. I will be attending the University of Texas next fall and majoring in Computer Science. I have had a hard time getting to where I am at today. I have Asperger Syndrome, severe anxiety and depression. I was bullied a lot in school and eventually got into a very dark mental state. I got out of it through the support of my family, friends, and my Service Dog named Roxi. I went from being in in-school-shutdown everyday to being in class everyday. I have served as an officer in Student Council, Senior Class Council, and the National Honor Society. I came out of the darkness and went to and stayed in the light. I'm here to help you do that, too.
          </div>
        </div>
        <img src="../static/img/IMG-0452.PNG" width="359px" height="640px">
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-lg-6">
            <img class="img-fluid mb-3 mb-lg-0" src="../static/img/Capstone Project 1.png" alt="" width="500" height="500" class="center">
          </div>
          <div class="col-xl-4 col-lg-5" id="types">
            <div class="featured-text text-center text-lg-left">
              <h4>Types of Mental Illnesses</h4>
              <p class="text-black-50 mb-0">According to the Mayo Clinic, there are many types of mental illnesses, including Anxiety, Clincical Depression, Autism, Bipolar Disorder, ADHD, OCD, Dimensia, Schizophrenia, and PTSD. All of these have different symptoms and challenges. One thing that the disabilities listed above have in common are that they originate in the brain either through inherated traits, abnormal change in brain chemistry, or abnormal exposures to items in the environment of birth. Symptoms of mental illnesses include confused thinking or reduced ability to concentrate, excessive fears, worries, feelings of guilt, or mood changes, withdrawal from friends and activities, detachment from reality (delusions), paranoia or hallucinations, inability to cope with daily problems or stress, trouble understanding and relating to situations and to people, and suicidal thoughts.</p>
              <hr class="d-none d-lg-block mb-0 ml-0">
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <center></center><img class="img-fluid" src="../static/img/demo-image-01.jpg" alt=""></center>
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white">Misty</h4>
                  <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                  <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="../static/img/demo-image-02.jpg" alt="">
          </div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white">Mountains</h4>
                  <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                  <hr class="d-none d-lg-block mb-0 mr-0">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex">
              <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                  <a href="#">work.allen.aaronm@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <form name="contactForm" action="/action_page.php" onsubmit="return validateForm()" method="post">
                Name: <input type="text" name="fname">

                <input type="submit" value="Submit">

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Your Website 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/grayscale.js"></script>

  </body>

</html>
